<p style="text-align: left">

  <%= comment.commenter %> By ~~~~~~<span style="color: hotpink"><%= comment.body %></span>
</p>
<p style="text-align: right;font-size: 18px;">
  <%= link_to 'Destroy', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>